*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  margin: 10px;
  padding: 10px;
  width: 15%;
  
}

.image{
  display: flex;
  justify-content: center;
}

.image img{
  max-width: 100px;
  max-height: 100px;
}

.title{
  font-weight: bold;
}

.category{
  font-size: 14px;
  color: darkgrey;
  font-weight: bold;
}

.star{
  font-size: x-large;

}

.filled_star{
  color: gold;
}

.rating{
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

.price{
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.btn{
  font-weight: bold;
  background-color: gold;
  outline: none;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.navbar{
  height: 15vh;
  width: 100vw;
  border: 1px solid black;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(to left, #fe7bed, #10e9de);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: none;
}

.filter{
  height: 40%;
  width: 25%;
  font-weight: bold;
  
}

.searchicon{
  font-size: xx-large;
 
}

.searchbar{
  display: flex;
  border: 1px solid black;
  width: 40%;
}

#search{
  width: 95%; 
}

.sort{
  height: 40%;
  width: 25%;
  font-weight: bold;
}

.btn1{
  background-color: rgb(183, 226, 226);
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#itemCount{
  padding-top:0px;
  color: gray;
  font-size: 14px;
}

#dropdown{
  width: 16%;
}